h1 {
     color:black;
     font-size:30pt;
     font-family:Helvetica, sans-serif;
     text-align:center; 
     font-weight:bold;        
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;

    background: rgba(246,246,246,1);
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(237,237,237,1) 20%, rgba(246,246,246,1) 51%, rgba(246,246,246,1) 98%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(1%, rgba(246,246,246,1)), color-stop(20%, rgba(237,237,237,1)), color-stop(51%, rgba(246,246,246,1)), color-stop(98%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(237,237,237,1) 20%, rgba(246,246,246,1) 51%, rgba(246,246,246,1) 98%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(237,237,237,1) 20%, rgba(246,246,246,1) 51%, rgba(246,246,246,1) 98%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(237,237,237,1) 20%, rgba(246,246,246,1) 51%, rgba(246,246,246,1) 98%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 1%, rgba(237,237,237,1) 20%, rgba(246,246,246,1) 51%, rgba(246,246,246,1) 98%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=0 );
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}

#logo {
	z-index: -1;
    width: 100%;
    height: 100%;
}

#background {
	top:0;
    left:0;
	position: absolute; /* Hintergrundbild */
	width: 100%;
	height: 100%;
	z-index: -1;
}

#loginButton {
	margin-left: auto;
    margin-right: auto;
	width: 320px;
	padding-top: 10px;
    padding-bottom: 10px;
	overflow: hidden;
	opacity: 1;
}

#page-content {
    margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 1;
}